<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Movi</title>

	<meta name="description" content="Heera HTML5 Template by Jewel Theme" >

	<meta name="author" content="Jewel Theme">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- Bootstrap  -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">

	<!-- icon fonts font Awesome -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- Import Magnific Pop Up Styles -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">

    <!-- Import Custom Styles -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!-- Import Animate Styles -->
	<link href="assets/css/animate.min.css" rel="stylesheet">

	<!-- Import owl.carousel Styles -->
	<link href="assets/css/owl.carousel.css" rel="stylesheet">

	<!-- Import Custom Responsive Styles -->
	<link href="assets/css/responsive.css" rel="stylesheet">


	<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<![endif]-->

  	</head>
  	<body class="header-fixed-top">

<div id="page-top" class="page-top"></div><!-- /.page-top -->

  		<section id="site-banner" class="site-banner text-center">
  			<div class="container">
  				<div class="site-logo">
  					<a href="/"><img src="images/logo-movi.png"> </a>
  				</div><!-- /.site-logo -->
                <div class="section-login">
                    <div class="btn-login">
                        <a href="/login">로그인</a>
                    </div>
                </div>
  			</div><!-- /.container -->
  		</section><!-- /#site-banner -->



<header id="main-menu" class="main-menu">
    <div class="container">
  		<div class="row">
  		    <div class="col-sm-7">
  		        <div class="navbar-header">
  		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
  						<i class="fa fa-bars"></i>
  		            </button>
                    <div class="menu-logo">
                        <a href="./"><img src="images/logo-movi-small.png" alt="menu Logo"></a>
                    </div><!-- /.menu-logo -->
                </div>
                <nav id="menu" class="menu collapse navbar-collapse">
                    <ul id="headernavigation" class="menu-list nav navbar-nav">
                        <li><a href="/">잠버릇 자랑</a></li>
                        <li><a href="/open-video">나의 잠버릇</a></li>
                        <li><a href="/graph">어떻게 잤나?</a></li>
                        </ul><!-- /.menu-list -->
                </nav><!-- /.menu-list -->
            </div>

            <div class="col-sm-5">
                <div class="menu-search pull-right">
                    <form role="search" class="search-form" action="#" method="get">
                        <input class="search-field" type="text" name="s" id="s" placeholder="날짜 검색하기" required>
                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form><!-- /.search-form -->
                </div><!-- /.menu-search -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</header><!-- /#main-menu -->

    <div class="container">
        <div class="section-title">
            <h2 class="title">어떻게 잤나?</h2>
        </div>
        <div class="row graph-grid">
            <div class="grid-box col-md-4">
                <div class="graph-title">얼마나 잠?</div>
                <div class="container">
                    <div id="graph-wrapper" class="graph-wrap">
                        <div class="graph-info">
                            <a href="#" id="lines" class="active"><span></span></a>
                        </div>
                        <div class="graph-container col-md-4">
                            <div id="graph-lines"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="graphline-title">
                    <div class="graph-line">
                        <span class="circle green"></span> <span class="name">나의 그래프</span>
                    </div>
                    <div class="graph-line">
                        <span class="circle mint"></span> <span class="name">평균</span>
                    </div>
                </div>
            </div>
            <div class="grid-box col-md-4">
                <div class="graph-title">언제 많이 움직임?</div>
                <div class="container">
                    <div id="graph-wrapper" class="graph-wrap">
                        <div class="graph-info">
                            <a href="#" id="lines" class="active"><span></span></a>
                        </div>
                        <div class="graph-container col-md-4">
                            <div id="graph-lines-2"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="graphline-title">
                    <div class="graph-line">
                        <span class="circle blue"></span> <span class="name">나의 그래프</span>
                    </div>
                    <div class="graph-line">
                        <span class="circle purple"></span> <span class="name">평균</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="snor-rank-section">
            <div class="snor-rank">
                <span class="snor">당신의 코골이 순위는</span>
                <span class="your">3위</span>!
            </div>
        </div>
        <div class="snor-rank-section">
            <div class="snor-rank">
                <span class="snor">최근 당신의 꿀잠지수는</span>
                <span class="your">88</span><span class="score">/100</span>
            </div>
        </div>
        <div class="snor-audio">
            <div class="audio-title">
                <span>잠꼬대 듣기</span>
            </div>
            <div class="audio-list">
                <audio controls
                src="http://d1wkhxhl0qw8m2.cloudfront.net/voice/test.mp3">
                </audio>
            </div>
            <div class="audio-list">
                <audio controls
                src="http://d1wkhxhl0qw8m2.cloudfront.net/voice/test.mp3">
                </audio>
            </div>
        </div>
    </div>

<footer>
  <div id="footer-bottom" class="footer-bottom text-center">
    <div class="container">
      <div id="copyright" class="copyright">
        &copy; <a href="/">Movi</a> 2016 All rights reserved &amp; Designed by <a href="/">Movi Team</a>
      </div><!-- /#copyright -->
    </div>
  </div><!-- /#footer-bottom -->
</footer>



<div id="scroll-to-top" class="scroll-to-top">
  <span>
    <i class="fa fa-chevron-up"></i>
  </span>
</div><!-- /#scroll-to-top -->



<!-- Include modernizr-2.8.3.min.js -->
<script src="assets/js/modernizr-2.8.3.min.js"></script>

<!-- Include jquery.min.js plugin -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Include magnific-popup.min.js -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>

<!-- Google Maps Script -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Gmap3.js For Static Maps -->
<script src="assets/js/gmap3.js"></script>

<!-- Javascript Plugins  -->
<script src="assets/js/plugins.js"></script>

<!-- Custom Functions  -->
<script src="assets/js/functions.js"></script>

<script src="assets/js/wow.min.js"></script>

<script type="text/javascript" src="assets/js/jquery.ajaxchimp.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="assets/js/jquery.flot.min.js"></script>
<script>
$(document).ready(function () {
    // Graph scripts here
});
</script>


<script>
 var graphData = [{
        // Visits
        data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
        color: '#71c73e'
    }, {
        // Returning Visits
        data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
        color: '#77b7c5',
        points: { radius: 4, fillColor: '#ffffff' }
    }
];

// Lines
$.plot($('#graph-lines'), graphData, {
    series: {
        points: {
            show: true,
            radius: 5
        },
        lines: {
            show: true
        },
        shadowSize: 0
    },
    grid: {
        color: '#646464',
        borderColor: 'transparent',
        borderWidth: 20,
        hoverable: true
    },
    xaxis: {
        tickColor: 'transparent',
        tickDecimals: 2
    },
    yaxis: {
        tickSize: 1000
    }
});


var graphData = [{
        // Visits
        data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
        color: '#5496e3'
    }, {
        // Returning Visits
        data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
        color: '#7d77c5',
        points: { radius: 4, fillColor: '#ffffff' }
    }
];

// Lines
$.plot($('#graph-lines-2'), graphData, {
    series: {
        points: {
            show: true,
            radius: 5
        },
        lines: {
            show: true
        },
        shadowSize: 0
    },
    grid: {
        color: '#646464',
        borderColor: 'transparent',
        borderWidth: 20,
        hoverable: true
    },
    xaxis: {
        tickColor: 'transparent',
        tickDecimals: 2
    },
    yaxis: {
        tickSize: 1000
    }
});




</script>

</body>
</html>
